# Eat Safe, Love

## Notebook Set Up

In [9]:
# Import dependencies
import pandas as pd
from pymongo import MongoClient
from pprint import pprint

In [10]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [11]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [12]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [13]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [14]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': {'$eq': 20}}

# Use count_documents to display the number of documents in the result
pprint(establishments.count_documents(query))
hygiene20 = list(establishments.find(query))
# Display the first document in the results using pprint
pprint(hygiene20[0])

0

IndexError: list index out of range

In [15]:
# Convert the result to a Pandas DataFrame
hygiene_df = pd.DataFrame(hygiene20)
# Display the number of rows in the DataFrame
pprint(len(hygiene_df))
# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [16]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName': {'$regex': 'London'}, 'RatingValue': {'$in': ['4', '5']}}

# Use count_documents to display the number of documents in the result
pprint(establishments.count_documents(query))
rating4 = list(establishments.find(query))
# Display the first document in the results using pprint
pprint(rating4[0])

0

IndexError: list index out of range

In [17]:
# Convert the result to a Pandas DataFrame
rating4_df = pd.DataFrame(rating4)
# Display the number of rows in the DataFrame
pprint(len(rating4_df))

# Display the first 10 rows of the DataFrame
rating4_df.head(10)

0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [18]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

latmax = latitude + degree_search
latmin = latitude - degree_search
longmax = longitude + degree_search
longmin = longitude - degree_search

query = {
    'RatingValue': {'$eq': '5'},
    'geocode.latitude': {'$lte': latmax, '$gte': latmin},
    'geocode.longitude': {'$lte': longmax, '$gte': longmin}
}
sort = [('scores.Hygiene', -1)]

limit = 5

# Print the results
top5_list = list(establishments.find(query).sort(sort).limit(limit))

pprint(top5_list)

[]

In [19]:
# Convert result to Pandas DataFrame
top5_df = pd.DataFrame(top5_list)
top5_df

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [20]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

yuck = list(establishments.aggregate([
    {'$match': {'scores.Hygiene': {'$eq': 0}}},
    {'$group': {'_id': '$LocalAuthorityName', 'count': {'$count': {}} }},
    {'$sort': {'count': -1}}
]))

# Print the number of documents in the result
print(len(yuck))
# Print the first 10 results
for i in range(10):
    print(yuck[i])

0

IndexError: list index out of range

In [21]:
# Convert the result to a Pandas DataFrame
yuck_df = pd.DataFrame(yuck)
# Display the number of rows in the DataFrame
print(len(yuck_df))
# Display the first 10 rows of the DataFrame
yuck_df.head(10)

0

Empty DataFrame
Columns: []
Index: []